name = "gengame-ws"
main = "src/worker.ts"
compatibility_date = "2025-02-01"

[durable_objects]
bindings = [
  { name = "ROOMS", class_name = "RoomDO" }
]

[[migrations]]
tag = "v1"
new_classes = ["RoomDO"]
